<% if user_signed_in? %>
  <nav class="navbar-lewagon fixed-bottom">

    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>

    <%= link_to feed_index_path, class: "nav-icon" do %>
      <i class="fa-solid fa-newspaper"></i>
    <% end %>

    <%= link_to vinyls_path, class: "nav-icon" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>

    <%= link_to profile_path(current_user), class: "nav-icon" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>

    <%= link_to destroy_user_session_path,
      data: { turbo_method: :delete },
      class: "nav-icon" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
    <% end %>

  </nav>
<% end %>
