<nav class="navbar-lewagon fixed-bottom">
  <% if user_signed_in? %>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>

    <%= link_to feed_index_path, class: "nav-icon" do %>
      <i class="fa-solid fa-newspaper"></i>
    <% end %>

    <%= link_to vinyls_path, class: "nav-icon" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>

    <%= link_to profile_path(current_user), class: "nav-icon" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "nav-icon" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  <% end %>
</nav>
