<% if user_signed_in? %>
  <nav class="navbar-lewagon">
    <%= link_to welcome_index_path, class: ["nav-icon", ("is-active" if current_page?(welcome_index_path))].compact.join(" ") do %>
      <%= image_tag "nav/home.svg", alt: "Home", class: "nav-icon-image" %>
    <% end %>

    <%= link_to randomizer_path, class: ["nav-icon", ("is-active" if current_page?(randomizer_path))].compact.join(" ") do %>
      <%= image_tag "nav/randomiser.svg", alt: "Home", class: "nav-icon-image" %>
    <% end %>

    <%= link_to feed_index_path, class: ["nav-icon", ("is-active" if current_page?(feed_index_path))].compact.join(" ") do %>
      <%= image_tag "nav/feed.svg", alt: "Feed", class: "nav-icon-image" %>
    <% end %>

    <%= link_to vinyls_path, class: ["nav-icon", ("is-active" if current_page?(vinyls_path))].compact.join(" ") do %>
      <%= image_tag "nav/collections.svg", alt: "Collections", class: "nav-icon-image" %>
    <% end %>
  </nav>
<% end %>
