<div class="welcome-header">
  <%= image_tag "waxxee_logo" %>
  <%= link_to profile_path(current_user) do %>
    <%= image_tag "nav/profile.svg", alt: "Profile", class: "profile-icon" %>
  <% end %>
</div>
<div class="container">
  <h1 class="main-title">WELCOME TO WAXXEE <%= current_user.username %>!</h1>
  <h2>DIGITAL CRATE CRATE DIGGING</h2>
  <p>WAXXEE is designed to re-create the experience of flicking thourough boxes of dusty old records
    in the basement of an old record shop. We don't learn anything about you, our alorithyms will
    constantly surprise you bringing new and previsouly forgotten tunes to your ears.
  </p>
  <p>dive in and find something amazing</p>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>
