<div class="circles-bg">
  <svg class="circles-bg__rings" viewBox="-1400 -1400 2800 2800" aria-hidden="true">
    <g class="circles-bg__ring"><path d="M 83.18 11.69 A 84.00 84.00 0 1 1 81.50 -20.32" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M 149.69 76.27 A 168.00 168.00 0 1 1 167.36 14.64" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M 190.19 165.33 A 252.00 252.00 0 1 1 238.27 82.04" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M 178.05 284.94 A 336.00 336.00 0 1 1 271.83 197.50" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M 122.80 401.65 A 420.00 420.00 0 1 1 264.31 326.40" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -8.80 503.92 A 504.00 504.00 0 1 1 180.62 470.52" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -191.43 555.96 A 588.00 588.00 0 1 1 30.77 587.19" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -413.72 529.54 A 672.00 672.00 0 1 1 -185.23 645.97" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -634.03 411.75 A 756.00 756.00 0 1 1 -433.62 619.28" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -815.05 203.21 A 840.00 840.00 0 1 1 -679.57 493.74" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -921.75 -64.45 A 924.00 924.00 0 1 1 -878.78 285.53" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -898.13 -457.62 A 1008.00 1008.00 0 1 1 -1004.16 -87.85" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -716.42 -824.14 A 1092.00 1092.00 0 1 1 -972.98 -495.76" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M -382.87 -1111.93 A 1176.00 1176.00 0 1 1 -771.53 -887.54" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M 131.71 -1253.10 A 1260.00 1260.00 0 1 1 -347.30 -1211.19" stroke-width="24"/></g>
    <g class="circles-bg__ring"><path d="M 692.21 -1152.03 A 1344.00 1344.00 0 1 1 210.25 -1327.45" stroke-width="24"/></g>
  </svg>
  <div
    class="swiper-page"
    data-controller="swipe"
    data-swipe-url-value="<%= user_vinyls_url %>"
    data-swipe-key-value="<%= @key %>"
    data-swipe-secret-value="<%= @secret %>"
    data-swipe-vinyls-value="<%= @vinyls.to_json(only: [:id, :artwork_url, :title, :artist, :year, :genre]) %>">
    <div class="text-center text-light mb-3">
      <p class="small text-uppercase mb-1 opacity-75">Swiper</p>
      <h1 class="h3 mb-0"><%= @persona[:title] %></h1>
    </div>
    <template data-swipe-target="template">
      <%= render "swiper/vinyl_card", vinyl: nil %>
    </template>
    <div class="tinder-container" data-swipe-target="vinylWrapper"></div>
  <%= render "shared/toast" %>
  </div>
</div>
