<div class="circles-bg">
  <div
    data-controller="swipe"
    data-swipe-url-value="<%= user_vinyls_url %>"
    data-swipe-card-url-value="<%= card_preview_swiper_index_url %>"
    data-swipe-key-value="<%= @key %>"
    data-swipe-secret-value="<%= @secret %>"
    >
    <div class="tinder-container" data-swipe-target="vinylWrapper"></div>
  <%= render "shared/toast" %>
  </div>
</div>
