<div class="">
  <div
    data-controller="swipe"
    data-swipe-vinyls-value="<%= @vinyls.to_json(only: [:id, :artwork_url]) %>"
    data-swipe-url-value="<%= user_vinyls_url %>">
    <%= simple_form_for @user_vinyl, html: {class: "d-none", data: {swipe_target: "form"}} do|f|  %>
      <%= f.input :vinyl_id, input_html: {data: {swipe_target: "vinylId"}} %>
      <%= f.submit %>
    <% end %>
    <div class="tinder-container" data-swipe-target="vinylWrapper"></div>
  </div>
</div>
