<div class="circles-bg">
  <div
    data-controller="swipe"
    data-swipe-vinyls-value="<%= @vinyls.map(&:id).to_json %>"
    data-swipe-url-value="<%= user_vinyls_url %>"
    data-swipe-card-url-value="<%= card_swiper_index_url(id: '__id__') %>"
    data-swipe-key-value="<%= @key %>"
    data-swipe-secret-value="<%= @secret %>"
    >
    <%= simple_form_for @user_vinyl, html: {class: "d-none", data: {swipe_target: "form"}} do|f|  %>
      <%= f.input :vinyl_id, input_html: {data: {swipe_target: "vinylId"}} %>
      <%= f.submit %>
    <% end %>
    <div class="tinder-container" data-swipe-target="vinylWrapper"></div>
  <%= render "shared/toast" %>
  </div>
</div>
