<section class="auth-page container py-0">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">
      <div class="auth-card card p-4 p-lg-5">
        <h1 class="auth-title h3 text-center mb-4">Sign in</h1>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs auth-form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions mt-4">
            <%= f.button :submit, "Sign in", class: "btn btn-primary w-100" %>
          </div>
        <% end %>

        <div class="auth-links text-center mt-4">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
