<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "WAXXEE" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Change This To Your Rails App Name">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% show_ticker_tape = devise_controller? && controller_name == "sessions" && action_name == "new" %>

    <% if show_ticker_tape %>
      <div class="waxxee-banner waxxee-banner-top">
        <div class="waxxee-track">
          <span>
            WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE
            WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE
          </span>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>

    <main class="app-shell <%= "app-shell-auth" if show_ticker_tape %>">
      <%= yield %>
    </main>

    <% if show_ticker_tape %>
      <div class="waxxee-banner waxxee-banner-bottom">
        <div class="waxxee-track">
          <span>WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE WAXXEE</span>
        </div>
      </div>
    <% end %>
  </body>
</html>
